# Python staff
__pycache__/
supervised_learning/0x03-optimization/checkpoint
supervised_learning/0x03-optimization/model.ckpt.data-00000-of-00001
supervised_learning/0x03-optimization/model.ckpt.index
supervised_learning/0x03-optimization/model.ckpt.meta
